<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ site_name }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">首页</a>
        <a class="nav-link active" aria-current="page" href="/admin/">数据管理</a>
        <a class="nav-link active" aria-current="page" href="/recom/">为您推荐</a>
      </div>
    </div>
    <div class="d-flex align-items-center">
      {% if request.user.is_authenticated %}
            <a class="nav-link" href="#">您好, {{ request.user.username }}</a> 
            <a class="btn btn-link px-2 me-2 btn-lg" href="{% url 'user:logout' %}">注销</a>
        {% else %}
            <a class="btn btn-link btn-lg" href="{% url 'user:login' %}">登录</a>
            <a class="btn btn-link btn-lg" href="{% url 'user:register' %}">注册</a>
        {% endif %}
    </div>
  </div>
</nav>